@import url("https://fonts.googleapis.com/css?family=Nunito:700|Open+Sans+Condensed:300&display=swap");

.App {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    " . . . . . hw hw  . . . . . "
    ".  . step1 step1 . step2 step2 . step3 step3 . ."
    ".  .   .  . . login login . . .  . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}


.App_header {
 grid-area: header; 
 height: 500px;
 background-color: #C5E7F1;
 background-image: url('./resources/carrotbg.png');
 background-repeat: repeat; 
  display: flex;
  flex-direction:column;
  align-items: center;
  color: #115A80;
  font-family: 'Nunito', sans-serif;
}

.App_header_text_large {
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.App_header_text_small {
  font-size: 1.5em;
  text-align:center;
  margin-bottom: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.App_header_img {
  height: 400px;
  padding-top: 50;
}

.App_header_content {
  margin-top: auto;
}

.App_steps_text_large {
  color: #F99D98;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.App_steps_text_small {
  color: #333;
  font-family: "Nunito script=all rev=1", "Adobe Blank";
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  padding-top: 10px;
}

.App_steps_img {
  height: 200px;
}

.App_steps {
  margin-top: 40px;
}


.App_login_text {
  text-align: center;
}

.App_how_it_works { 
  grid-area: hw;
  padding-top: 100px;
  font-size: 2em;
  text-align: center;
  color: #115A80;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;

}
.App_step1 { grid-area: step1; }
.App_step2 { grid-area: step2; }
.App_step3 { grid-area: step3; }
.App_login { grid-area: login;  padding-top: 40px;}
.App_footer {grid-area: footer; }


.App_set_calendar {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    " . content ."
    " . footer  .";
  background-color: #C5E7F1;
}

.App_set_calendar_content {
  grid-area: content;
  margin-top: 60px;
  height: 80vh;
}

.App_set_calendar_footer {
  grid-area: footer;
  height: 20vh;
}

.App_set_calendar_text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: 40px;
  padding-top: 20px;
  font-weight: 500;
}

.App_set_calendar_text_here {
  color: red;
  font-weight: 900;
}

.App_view_calendar {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    " . cal . sched ."
    " . . . . .";
  background-color: #C5E7F1;
  padding-bottom: 30px;
  min-height: 100vh;
}

.App_view_calendar_cal {
    grid-area: cal;
}

.App_view_calendar_sched {
    grid-area: sched;
}

.App_view_calendar_text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: 40px;
  padding-top: 20px;
  font-weight: 500;
}

.App_DateMaker {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header "
    " . dm ."
    " .  . .";
  background-color: #C5E7F1;
  padding-bottom: 30px;
  height: 100vh;
}

.App_DateMaker_header {
  grid-area: header;
}

.App_DateMaker_dm {
  grid-area: dm;
}

