.DateViewer {

}

.DateViewer_section {
  padding-bottom: 20px;
}

.DateViewer_header {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.DateViewer_list {
}

.DateViewer_list  li {
  margin-left: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}

